<div class="container py-5">
    <!-- Botón -->
    <h1>Botón</h1>
    <div class="d-flex justify-content-center">
        <app-boton texto="Clic aquí" (clickBoton)="accion()"></app-boton>
    </div>

    <!-- Tabla -->
    <h1>Tabla Simple</h1>
    <app-tabla [datos]="listaDatos" [columnas]="['id', 'nombre', 'email']"></app-tabla>

    <!-- Tabla con escalas -->
    <h1>Tabla con escalas</h1>
    <app-tabla-expandible [data]="nivel1Data" [columns]="nivel1Columns" [childColumns]="nivel2Columns"></app-tabla-expandible>

    <!-- Modal -->
    <h1>Modal</h1>
    <app-boton texto="Abrir Modal" (clickBoton)="openModal()"></app-boton>

    <app-modal [isOpen]="isModalOpen" title="Mi Modal Reutilizable" (closeModal)="closeModal()">
      <!-- Contenido personalizado del modal -->
      <p>Este es el contenido del modal, el cual puedes personalizar según tus necesidades.</p>
    </app-modal>
    

</div>